<nav class="navBar">
    <h1>Music Inventory</h1>
    <ul>
        <a href="/">
            <li>Dashboard</li>
        </a>
    </ul>
    <h2>Categories</h2>
    <ul>
        <a href="/artists">
            <li>Artists</li>
        </a>
        <a href="/albums">
            <li>Albums</li>
        </a>
        <a href="/labels">
            <li>Labels</li>
        </a>
        <a href="/genres">
            <li>Genres</li>
        </a>
        <a href="/releases">
            <li>Formats</li>
        </a>
    </ul>
    <h2>Add New</h2>
    <ul>
        <a href="/artist/create">
            <li>Artist</li>
        </a>
        <a href="/album/create">
            <li>Album</li>
        </a>
        <a href="/label/create">
            <li>Label</li>
        </a>
        <a href="/genre/create">
            <li>Genre</li>
        </a>
        <a href="/release/create">
            <li>Release</li>
        </a>
    </ul>
</nav>