<nav class="navBar">
    <h1>Music Inventory</h1>
    <ul>
        <a href="/">
            <li>Dashboard</li>
        </a>
        <a href="/category">
            <li>Categories</li>
        </a>
    </ul>
</nav>