<div class="searchBar">
    <h2 class="date"> <%= new Date().toDateString() %> </h2>
    <form action="/search" method="get" class="searchInput">
        <input type="text" name="search" id="search">
        <button>Search</button>
    </form>
</div>