<!DOCTYPE html>
<html>

<head>
    <title>
        <%= genre.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="mainContainer">
            <div class="coupled">
                <h1>
                    <%= genre.name %>
                </h1>
                <a href=<%- genre.url + '/update' %>>
                    <div class="editButton"></div>
                </a>
            </div>
        </div>
</body>