<!DOCTYPE html>
<html>

<head>
    <title>
        <%= genre.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="mainContainer">
            <h1>
                <%= genre.name %>
            </h1>
        </div>
</body>