<!DOCTYPE html>
<html>

<head>
    <title>
        <%= label.name %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="mainContainer">
            <h1>
            <%= label.name %>
            </h1>
        </div>
</body>