body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

.navBar {
  padding: 20px;
  background-color: red;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.mainContainer {
  padding: 20px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 10px;
}

label {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 5px;
}

.coupled {
  display: flex;
  gap: 10px;
  align-items: center;
}

.editButton {
  height: 25px;
  width: 25px;
  background-image: url(../images/edit.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.deleteButton {
  height: 25px;
  width: 25px;
  background-image: url(../images/delete.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.arrowButton {
  height: 15px;
  width: 15px;
  background-image: url(../images/arrow.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.imageSmall {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.box {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: yellow;
  padding: 10px;
  width: 180px;
  height: 80px;
}

.boxInfo {
  align-self: center;
  margin-top: auto;
}

.listContainer {
  display: flex;
  gap: 10px;
}

.listLower {
  display: flex;
  justify-content: space-between;
}