body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100vh;
}

h1, h2{
  margin:0;
}

.navBar {
  padding: 20px;
  background-color: red;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.mainContainer {
  padding: 20px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 10px;
}

label{
  display: flex;
  flex-flow: column;
  width: 100%;
  gap:5px;
}

.formCoupled {
  display: flex;
  gap: 10px;
}